#Header {
    background-image: url("/Media/LBL-background.png");
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}
.sec-1 {
    margin: 0 0 0 0;
}
.landing-heading-container {
    padding: 5% 5% 12% 0 ;    

}
.landing-heading-col {
    padding: 10% 0 0 20%;
    width: 20rem;

}
.landing-heading {
    padding: 0 0 5% 15%;
    width: 52rem;
    font-size: 2.9rem;
    color: white;
}
.isometric-vector {
    width: 90%;
    padding: 0 0 0 3%;
}

/* second section */
#what-we-do {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 0 0 10% 0;
}
.wwd-heading {
    text-align: center;
    margin: 0;
    align-content: center;
}
#what-we-do .card{
    padding: 5%;
    height: 100%;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.281);
}
#what-we-do .card p{
    padding: 10% 0 0 0;
}
