#Header {
    background-image: url("/Media/LBL-background.png");
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}
.sec-1 {
    margin: 0 0 0 0;
}
.landing-heading-container {
    padding: 5% 5% 12% 0 ;    

}
.landing-heading-col {
    padding: 10% 0 0 20%;
    width: 20rem;

}
.landing-heading {
    padding: 0 0 5% 15%;
    width: 52rem;
    font-size: 2.9rem;
    color: white;
}
.isometric-vector {
    width: 90%;
    padding: 0 0 0 3%;
}

/* second section */
#what-we-do {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 0 0 10% 0;
}
.wwd-heading h3{
    text-align: center;
    font-size: 2.5 narem;
    align-content: center;
}
.card{
    padding: 5%;
    height: 100%;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.164);
}
#what-we-do .card p{
    padding: 10% 0 0 0;
}



/* Third-section */

#testimonials {
    background-image: url(/Media/LDL-background2.png);
    background-size: cover;
    text-align: center;
}
.test-heading {
    padding: 20% 0 0 0 ;
    color: white;
    font-family: 'Quicksand', sans-serif;

}
.test-quote {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 2rem;
    padding: 10% 0 30%;

}

/* fourth section */

#statistics {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 0% 0 20% 0;
}
.subtitle {
    padding: 0 0 8% 0 ;
}
#statistics i{
    font-size: 400%;
    padding: 10% 0;
    color: orange;
}

/* Last section */

#contact-us {
    background-image: linear-gradient(to bottom right,rgb(255, 165, 62),rgb(255, 102, 0));
}
.card-col{
    padding: 5% ;
}
#contact-us .card {
    padding: 10% 10%;
}
.contact-details{
    padding: 15% 0 0 0;
}
.contact {
    padding: 10% 0 0 0 ;
    font-size: 1.3rem;
}
.contact i {
    font-size: 2.5rem;
    padding: 0 3rem 0 0;
}
